.navigation {
    vertical-align: top;
    text-align: center;
    width: 100%;
    padding: 10px;
    list-style-type: none;
    display: inline;
}

li {
display: inline-block;
padding-right: 80px;
}

.header{ 
    padding: 10px;
    text-align: center;
    background: white;
    color: black;
    font-size: 30px;
    font-family: Ropa Sans, Roboto;
    padding-top: 0%;
}

.a {
    display: none;
    padding: 5px;
    text-align: center;

}
.logo {
    width: auto;
    padding: 0%;
    text-align: center;
}

.row {
    display: row;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    padding-bottom: 3%;
    width: 100%;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.footer {
    background-color: white;
    text-align: left;
    word-spacing: normal;
    line-height: 25px;
    padding-left: 22%;
    margin: auto;
}

.footerBox {
    padding-top: 300px;
}

.aboutMe {
    width: 800px;
    text-align: left;
    padding: 0%;
    font-family: roboto;
    margin: auto;
    padding-bottom: 50px;
}

.footer3 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 100px;
    width: 25%;
    margin: auto;
}

.h2 {
    margin: auto;
    text-align: left;
}

.works {
    text-align: left;
    margin: auto;
    padding: 0%;
    font-family: roboto;
    width: 800px;
}

.imageClass {
    text-align: left;
    width: 200px;
    float: left;
    padding-right: 50px;
}

.textClass {
    text-align: left;
    width: 90%;
    padding-left: 50px;
}

.imageClass2 {
    text-align: left;
    width: 300px;
    float: right;
    padding-left: 50px;
}

.textClass2 {
    text-align: left;
    width: 70%;
    padding-right: 30px;
}

.botani {
    text-align: left;
    padding-bottom: 100px;
}

.cbr {
    text-align: left;
    padding-top: 200px;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}

.image1 {
    width: 28%;
}

@media only screen and (max-width: 480px) {
    
    .navigation {
        vertical-align: top;
        text-align: left;
        width: 100%;
        padding: 10%;
        list-style-type: none;
        display: inline;
    }
    
    li {
    display: inline-block;
    padding-right: 1%;
    text-align: center;
    font-size: 12px;
    }
    
    .header{ 
        padding: 10px;
        text-align: center;
        background: white;
        color: black;
        font-size: 15px;
        font-family: Ropa Sans, Roboto;
        padding-top: 0%;
    }
    
    .a {
        display: none;
        padding: 2px;
        text-align: center;
    
    }
    .logo {
        width: auto;
        padding: 0%;
        text-align: center;
    }
    
    .row {
        display: row;
        flex-wrap: wrap;
        padding: 0;
        text-align: center;
        padding-bottom: 3%;
    }
    
    .content {
        width: 90%;
        margin: 0 auto;
    }
    
    .footer {
        background-color: white;
        text-align: left;
        line-height: 200%;
        padding-left: 5%;
        margin: auto;
    }
    
    .footerBox {
        padding-top: 100px;
        text-align: left;
        margin: auto;
        font-size: 12px;
    }
    
    .aboutMe {
        width: 90%;
        text-align: left;
        padding: 0%;
        font-family: roboto;
        margin: auto;
        padding-bottom: 50px;
        font-size: 12px;
    }
    
    .footer3 {
        text-align: center;
        padding-bottom: 30px;
        padding-top: 10%;
        width: 30%;
        margin: auto;
    }
    
    .h2 {
        margin: auto;
        text-align: left;
    }
    
    .works {
        text-align: left;
        margin: auto;
        padding: 0%;
        font-family: roboto;
        width: 90%;
    }
    
    .imageClass {
        text-align: center;
        width: 100%;
        margin: auto;
        padding-bottom: 10%;
    }
    
    .textClass {
        text-align: left;
        width: 100%;
        margin: auto;
        padding-left: 0%;
        padding-top: 10%;
    }
    
    .imageClass2 {
        width: 100%;
        text-align: center;
        margin: auto;
        padding-bottom: 10%;
    }
    
    .textClass2 {
        text-align: left;
        width: 100%;
        margin: auto;
        padding-left: 0%;
        padding-top: 10%;
    }
    
    .botani {
        text-align: left;
        padding-bottom: 12%;
        font-size: 12px;
    }
    
    .cbr {
        text-align: left;
        padding-top: 12%;
        font-size: 12px;
    }
    
    .button {
        background-color: black;
        border: none;
        color: white;
        padding: 5px 13px;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        text-decoration: none;
    }

    .image1 {
        width: 40%;
    }


    
}